@model EditPostViewModel


<body>

    <div class="container mb-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-1 pl-2 pr-2">
                <li class="breadcrumb-item"><a href="/">Board</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Post</li>
            </ol>
        </nav>

        <form method="post">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="@Model.Post.Title" class="form-control">
            </div>

            <div class="new-form-group">
                <div class="form-group">
                    <label for="title">Writer</label>
                    <input type="text" id="writer" name="writer" value="@Model.Post.Writer" class="form-control tagInput">
                </div>
                <div class="form-group">
                    <label for="title">Category</label>
                    <select class="form-control" name="category">
                        @foreach (var category in Model.Categories)
                        {
                            @if (Model.Post.CategoryID == category.ID)
                            {
                                <option value="@category.ID" selected>@category.CategoryName</option>
                            }
                            else
                            {
                                <option value="@category.ID">@category.CategoryName</option>
                            }

                        }


                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" name="body" rows="5" class="form-control">@Model.Post.Content</textarea>
            </div>

            <div class="new-form-group">
                <label for="title">Tag</label>
                <input type="text" id="tag" name="tag" placeholder="Enter the tag here" value="" class="form-control tagInput">
                <button class="tagBtn">Add Tag</button>
            </div>

            <div class="formBtns">
                <a class="btn btn-primary" href="/api/posts">Back</a>
                <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
            </div>

        </form>

    </div>
</body>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#submitBtn").on('click', function (e) {
                e.preventDefault();

                var title = $("form input[name=title]").val();
                var content = $("form textarea[name=body]").val();
                var writer = $("form input[name=writer]").val();
                var CategoryID = $("select[name=category]").val();
                var ID=@Model.Post.ID;

            

                $.ajax("/api/posts/edit", {
                    method: "POST",
                    data: JSON.stringify({ ID:ID,Title:title, Content:content, Writer:writer, CategoryID:CategoryID }),
                    contentType: "application/json",
                    success: function () {
                        alert("Edit successfully!");
                    }
                }).done(function (response) {
                    location.href = "/Home/ShowPost/"+ID;
                });

            });
        });
    </script>
}